@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply w-full p-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400;
}
.react-select-container {
  @apply w-full;
}
.editor-input {
  @apply w-full min-h-[200px] border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-400;
}
